<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/css/main.css">
</head>
<body>
    <from class="from_transUrl">
        <div class="common_form">
            <label>请输入网址：</label>
            <input type="text" id = "input_url" placeholder="www.xconfig.com" />
            <span class = "span_message" id = "span_generate_result"></span>
        </div>
        <div class="common_form">
            <span class = "span_result"></span>
        </div>
        <div class="common_form">
            <a class = "btn btn_common" id = "btn_generate_code">生成</a>
        </div>
    </from>
</body>
<script type="application/javascript" src="/static/js/lib/jquery-1.7.1.min.js"></script>
<script type="application/javascript" src="/static/js/main.js"></script>
</html>
