<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="net.xconfig.surl.mapper.SurlMapper">
  <resultMap id="BaseResultMap" type="net.xconfig.surl.pojo.Surl">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="url" jdbcType="VARCHAR" property="url" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="createDate" jdbcType="TIMESTAMP" property="createDate" />
    <result column="expireDate" jdbcType="TIMESTAMP" property="expireDate" />
    <result column="isDelete" jdbcType="BIT" property="isDelete" />
  </resultMap>
  <!-- 基本列 -->
  <sql id="Base_Column_List">
    id, url, code, createDate, expireDate, isDelete
  </sql>
  <!-- 限制有效条件 -->
  <sql id="Condition_Effected">
    isDelete = 0
  </sql>
  <select id="selectByCode" parameterType="java.lang.String" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from surl
    where code = #{code,jdbcType=VARCHAR} and <include refid="Condition_Effected" />
  </select>
  <select id="countCode" parameterType="java.lang.String" resultType="java.lang.Integer">
    select count(1) from surl where code = #{code, jdbcType=VARCHAR} and <include refid="Condition_Effected" />
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from surl
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from surl
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="net.xconfig.surl.pojo.Surl">
    insert into surl (id, url, code, 
      createDate, expireDate, isDelete
      )
    values (#{id,jdbcType=INTEGER}, #{url,jdbcType=VARCHAR}, #{code,jdbcType=VARCHAR}, 
      #{createDate,jdbcType=TIMESTAMP}, #{expireDate,jdbcType=TIMESTAMP}, #{isDelete,jdbcType=BIT}
      )
  </insert>
  <insert id="insertSelective" parameterType="net.xconfig.surl.pojo.Surl">
    insert into surl
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="url != null">
        url,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="createDate != null">
        createDate,
      </if>
      <if test="expireDate != null">
        expireDate,
      </if>
      <if test="isDelete != null">
        isDelete,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="url != null">
        #{url,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="expireDate != null">
        #{expireDate,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="net.xconfig.surl.pojo.Surl">
    update surl
    <set>
      <if test="url != null">
        url = #{url,jdbcType=VARCHAR},
      </if>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="createDate != null">
        createDate = #{createDate,jdbcType=TIMESTAMP},
      </if>
      <if test="expireDate != null">
        expireDate = #{expireDate,jdbcType=TIMESTAMP},
      </if>
      <if test="isDelete != null">
        isDelete = #{isDelete,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="net.xconfig.surl.pojo.Surl">
    update surl
    set url = #{url,jdbcType=VARCHAR},
      code = #{code,jdbcType=VARCHAR},
      createDate = #{createDate,jdbcType=TIMESTAMP},
      expireDate = #{expireDate,jdbcType=TIMESTAMP},
      isDelete = #{isDelete,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>